
h1 
{
	text-align: center;
}

body {
  background-image: url("https://i.pinimg.com/736x/dc/6d/bd/dc6dbd7a743f377ee69bc85aabbf407e.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1974px 2767px;
  background-attachment: fixed;
}

p.a{
  font-style: Arial;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
  color: white;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

p {
  margin: 15px 400px 20px;
}